server:
  port: 8085

spring:
  application:
    name: lineage-service
  neo4j:
    uri: ${NEO4J_URI:bolt://localhost:7687}
    authentication:
      username: ${NEO4J_USERNAME:neo4j}
      password: ${NEO4J_PASSWORD:password}

logging:
  level:
    com.selfhealing.analytics: DEBUG
    root: INFO
